<div class="nav-menu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="chat">
                <span class="bi bi-chat-fill-nav-menu" aria-hidden="true"></span> Chat
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="imagegen">
                <span class="bi bi-image-fill-nav-menu" aria-hidden="true"></span> Image Generator
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="translate">
                <span class="bi bi-translate-nav-menu" aria-hidden="true"></span> Translate
            </NavLink>
        </div>
    </nav>
</div>